<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    
<!--     Begin Spring-specific configuration -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
     <!--END Spring configuration--> 
    
      <!--begin additional Spring Security config--> 
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    
    
     <context-param>
        <param-name>email</param-name>
        <param-value>ryanjcorbin@gmail.com</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>FoodItemController</servlet-name>
        <servlet-class>edu.wctc.rjc.corfoods.controller.FoodItemController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FoodItemController</servlet-name>
        <url-pattern>/FoodItemController</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>edu.wctc.rjc.corfoods.controller.OrderController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>edu.wctc.rjc.corfoods.controller.UserController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    
<!--     Add for Spring REST 
    <servlet>
        <servlet-name>exporter</servlet-name>
        <servlet-class>org.springframework.data.rest.webmvc.RepositoryRestDispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>exporter</servlet-name>
        <url-pattern>/api/v1/*</url-pattern>
    </servlet-mapping>
     end spring rest -->
    
    <listener>
        <listener-class>edu.wctc.rjc.corfoods.listener.MySessionCounter</listener-class>
    </listener>
    
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
</web-app>
